language: ruby
before_install:
  - sudo apt-get install libhunspell-dev hunspell-en-us
  - gem install ffi rubygems-tasks rspec yard
rvm:
  - 1.9.3
  - 2.0.0
  - jruby-19mode
  - rbx-19mode
matrix:
  allow_failures:
    - rvm: rbx-18mode
    - rvm: rbx-19mode
script: rake test
